.course-media-wrapper {
  .course-media-image {
    height: var(--catalog-course-about-page-course-media-image-height, 15.75rem);
    object-fit: cover;
  }


  @media (--pgn-size-breakpoint-max-width-xl) {
    margin-bottom: var(--pgn-spacing-spacer-2-5);
  }
}
